body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.img-categoria {
  width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
}

.img-comunidad {
  width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
}

.video-container {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.decoration a {
  text-decoration: none;
  color: #595c5f;
}
